@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: Poppins;
}

.forgot--password {
  display: flex;
  width: 30rem;
  flex-direction: column;
  padding-left: 10px;
  /* border: black 1px solid; */
  margin: auto;
}

.forgot--password > h1 {
  color: #676e8a;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
}

.forgot--password > button {
  color: white;
  width: 7rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #373737;
  margin-top: 10px;
  align-self: center;
}

.forgot--password > input {
  width: 20rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #c7cbd3;
  background: #fff;
  padding-left: 10px;
  align-self: center;
}

.forgot--password > p {
  width: 30rem;
  color: #646464;
  font-size: 1rem;
  text-align: center;
}
