* {
  font-family: Poppins;
}

.forgot__password {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 36rem;
  background-color: white;
  flex-direction: column;
  margin: auto;
  gap: 40px;
  border: 1px solid #f4f4f4;
}

.forgot__password__header {
  color: #676e8a;
  font-size: 2rem;
  line-height: 0.25rem;
}

.forgot__password__sub-header {
  width: 30rem;
  color: #646464;
  font-size: 1rem;
  text-align: center;
}

.forgot__password__input {
  width: 20rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #c7cbd3;
  padding-left: 10px;
}

.forgot__password__input--confirm {
  width: 20rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #c7cbd3;
  padding-left: 10px;
}

.forgot__password__input[type="email"]:focus {
  outline: 2px solid orange;
  border: none;
}

.forgot__password__button {
  color: white;
  width: 7rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #373737;
}

.forgot__password__button:hover {
  color: #373737;
  background: white;
}

/* OTP screen */
.forgot__password__otp {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  gap: 10px;
}

.forgot__password__otp__box {
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  border: 2px solid rgba(188, 239, 255, 0.31);
  background: #eefbff;
  margin: 2px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
}

.forgot__password__button--confirm {
  color: white;
  width: 7rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #373737;
}

.forgot__password__footer {
  width: 30rem;
  color: #646464;
  font-size: 0.75rem;
  text-align: center;
}

.forgot__password__button--confirm:hover {
  color: #373737;
  background: white;
}

.forgot__password__footer>a {
  padding-left: 10px;
}

/* Final Screen */
.forgot_password__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #8d8c8c;
  font-size: 2rem;
}