.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 82, 224, 0.11);
}

.header-brand {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  height: 100%;
  padding: 5px;
}

.header-links {
  display: flex;
  margin-right: 2%;
  gap: 40px;
}

.brand-logo-header {
  padding-left: 15px;
  height: 50px;
}

.brand-logo-header > img {
  height: inherit;
}

.brand-name {
  font-size: large;
  font-weight: bold;
}

.header-links > * > button {
  height: 30px;
  width: 82px;
  border-radius: 4px;
  cursor: pointer;
}
.header-login-btn {
  background: transparent;
  border: 1px solid gainsboro;
  filter: drop-shadow(0px 0px 6px rgba(0, 82, 224, 0.1));
}

.header-signup-btn {
  background-color: rgba(0, 82, 224, 0.16);
  color: #0052e0;
  border: none;
}
