.footer {
  display: flex;
  justify-content: space-between;
}

.footer > div {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid white;
  margin-bottom: 10px;
}

.footer > div :hover {
  display: flex;
  background-color: rgb(99, 200, 240);
  width: 100%;
  justify-content: center;
}
