@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.darkest-font {
  color: rgba(55, 55, 55, 1);
}

.darker-font {
  color: rgba(100, 100, 100, 1);
}

.dark-font {
  color: rgba(103, 110, 138, 1);
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

.App {
  font-family: sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  background: rgba(253, 254, 255, 1);
}

.home {
  display: flex;
  justify-content: center;
  height: 75%;
}

.home > h1 {
  margin-top: 20px;
}
