@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.darkest-font {
  color: rgba(55, 55, 55, 1);
}

.darker-font {
  color: rgba(100, 100, 100, 1);
}

.dark-font {
  color: rgba(103, 110, 138, 1);
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.App {
  font-family: sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: rgba(253, 254, 255, 1);
}

.pointer {
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  height: 100%;
}

.home>h1 {
  margin-top: 20px;
}

.mui-dark-btn {
  width: 186.44px;
  height: 38px;
  border-radius: 8px !important;
}

.wrong-submit {
  animation-name: shake, glow-red;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
}

@keyframes shake {

  0%,
  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
}

@keyframes glow-red {
  50% {
    border-color: indianred;
  }
}